<div class="topNav">
  <h3><p style="text-decoration: none; text-align: center; color: #fff;">Fomular 1</p></h3>
</div>
<!-- [ngStyle]="{backgroundImage:'url(../assets/images/image.jpg)'; opacity 0.2}" -->
<div class="container" >
    <div fxLayout="row">
      <app-dropdown [years]="years" (selectedYear)="changeSeason($event)"></app-dropdown>
    </div>

    <app-loader *ngIf="loading"></app-loader>
    
    <div fxLayout="row">
      <h1>Season: {{this.selectedYear}}</h1>
    </div>

    <div fxLayout="row">
      <h1 *ngIf="parsedArray.length == 0"> No data found</h1>
      <app-table *ngIf="!loading && parsedArray.length > 0" [data]="parsedArray" [headers]="tableHeaders"></app-table>
    </div>  
</div>
