$green: #04AA6D;
$red: #e13b3b;
$white: #fff;
$black: #000000;
$background: #f8f8f8;
$border: #e7e7e7;
$tableBorder: #dddddd;
$tablebackground: #f3f3f3;
$cream: #f9f9f9;

// fonts 
$sans-serif: sans-serif;