/* You can add global styles to this file, and also import other style files */
body {  
    font-size: 16px;
    font-family: Tisa Sans Pro Regular;
    background: linear-gradient(rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0.438)), url("assets/images/image1.jpg") no-repeat center center fixed, ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

