<table class="styled-table">
  <thead>
    <tr>
      <th *ngFor="let head of tableHeaders">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f1Data of wonMultipleArray" [ngClass]="f1Data.highlight? 'active-row' : '' "> 
      <td>{{f1Data.raceName}}</td>
      <td>{{f1Data.pos}}</td>
      <td>{{f1Data.no}}</td>
      <td>{{f1Data.driver}}</td>
      <td>{{f1Data.constructor}}</td>
      <td>{{f1Data.laps}}</td>
      <td>{{f1Data.grid}}</td>
      <td>{{f1Data.time}}</td>
      <td>{{f1Data.status}}</td>
      <td>{{f1Data.points}}</td>
    </tr>
  </tbody>
  </table>